<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>sing后台管理平台</title>
    <!-- Bootstrap Core CSS -->
    <link href="/Public/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/Public/css/admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/Public/morris/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/Public/Font-Awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/Public/css/common.css" />
    <link rel="stylesheet" href="/Public/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css" />
    <link rel="stylesheet" type="text/css" href="/Public/uploadify/uploadify.css">

    <!-- jQuery -->
    <script src="/Public/jquery/dist/jquery.js"></script>
    <script src="/Public/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Public/layer/build/layer.js"></script>
    <script src="/Public/js/common/dialog.js"></script>
    <script type="text/javascript" src="/Public/uploadify/jquery.uploadify.js"></script>

</head>
